{%extends 'ecomerceapp/parent.html'%}
{%load static%}
{%block body_block%}
<div class="row">
  <div class="col-sm"><style="background-color:yellow;"></style></div>
    <img src="{%static "images/T-shirt.jpg"%}" alt="">
    <p>T-Shirt: Its Western wear for girls</p>
  <div class="col-sm"><style="background-color:yellow;"></style></div>
    <img src="{%static "images/saree.jpg"%}" alt="">
    <p>Sarees:Sarees are Indian Treditional wears</p>
  <div class="col-sm"><style="background-color:yellow;"></style></div>
    <img src="{%static "images/chudidhar.jpg"%}" alt="">
    <p>Chudidhar:Chudidhars are common wear to girls</p>
</div>
{%endblock%}
